.contentWrapper {
  position: relative;
  background-color: #5f4aaa;
}

x.banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-image: url(https://miro.medium.com/max/3840/1*GK9vbx6L6IrrSRPSpGW_5g.png);
  background-size: 1200px auto;
  background-position: left top;
  background-repeat: no-repeat;
  height: 670px;
  background-color: #5f4aaa;
}

.content {
  position: relative;
  z-index: 5;
  background: #5f4aaa;
  // color: #a9f;
  color: #cbf;
  background-image: url(https://miro.medium.com/max/3840/1*GK9vbx6L6IrrSRPSpGW_5g.png);
  background-size: 1200px auto;
  background-position: left top;
  background-repeat: no-repeat;
  
  @media (max-width: 677px) {
    min-height: 650px;
    padding: 1rem;
  }
  
  @media (min-width: 678px) {
    min-height: 670px;
    padding: 30px;
  }

  p {
    line-height: 1.5rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #00dbff;
  }
}

.firstParagraph {
  margin: 0;
  max-width: 400px;

  @media (min-width: 678px) {
    font-size: 22px;
  }
}

.highlightText {
  color: #faf;

  @media (max-width: 677px) {
    margin-top: 5rem;
    font-size: 1.8rem;
    line-height: 2.1rem;
  }

  @media (min-width: 678px) {
    margin: 50px 0 50px 15vw;
  }

  @media (min-width: 678px) and (max-width: 1023px) {
    font-size: 1.8rem;
    line-height: 2rem;
  }

  @media (min-width: 1024px) {
    font-size: 38px;
  }
}

.NaoExisteLinear {
  max-width: 800px;
}

.footer {
  padding: 150px 0 100px 0;
  text-align: right;
  background: #111;
}

.nextPageLink {
  font-size: 28px;
  color: #cbf;
}
