
.contentWrapper {
  position: relative;
  background-color: #5f4aaa;
}

x.banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-image: url(https://miro.medium.com/max/3840/1*GK9vbx6L6IrrSRPSpGW_5g.png);
  background-size: 1200px auto;
  background-position: left top;
  background-repeat: no-repeat;
  height: 670px;
  background-color: #5f4aaa;
}



.content {
  position: relative;
  z-index: 5;
  padding: 30px;
  background: #5f4aaa;
  // color: #a9f;
  color: #cbf;
  background-image: url(https://miro.medium.com/max/3840/1*GK9vbx6L6IrrSRPSpGW_5g.png);
  background-size: 1200px auto;
  background-position: left top;
  background-repeat: no-repeat;
  min-height: 670px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #00dbff;
  }


}

.firstParagraph {
  margin: 0;
  max-width: 400px;
  font-size: 22px;
}

.highlightText {
  margin: 50px 0 50px 15vw;
  font-size: 38px;
  color: #faf;
}

.NaoExisteLinear {
  margin: 0;
  max-width: 800px;
}

.footer {
  padding: 150px 0 100px 0;
  text-align: right;
}

.nextPageLink {
  font-size: 28px;
  color: #cbf;
}




@media all and (max-width: 600px){
  .contentWrapper{
    flex-flow: column;
  }
  .content{
    h1, h3, h4, h5, h6{
      font-size: 22px;  
    }
    h2{
      font-size: 22px;
      padding: 0px 0px 20px 18px;
      margin-bottom: 10px;

    }
    p{
      font-size: 18px;
      text-align: justify-all;
      padding: 0px 0px 0px 18px;
      max-width: 500px;
    }
    margin: 0;
    min-height: 400px;
    

}
.NaoExisteLinear{
  h2{
    padding: 30px 0px 30px 0px;
    font-size: 22px;
    margin: 0;
  }
  p{
    font-size: 18px;
    text-align: justify-all;
    margin: 0;
    max-width: 500px;
  }
}
.highlightText{
  font-size: 18px;
  margin: 0;
  padding: 20px;
  max-width: 500px;
}

.nextPageLink{
  font-size: 15px;
}

.footer{
  padding: 50px 0px 50px 0px;
};

 
}
