html,
body {
  padding: 0;
  margin: 0;
}

html,
body,
div,
span,
p {
  font-family: "Baloo Tamma 2", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", sans-serif;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
